<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Strength Checker</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
</head>
<body>
    <header>
        <h1>Password Strength Checker</h1>
    </header>
    <main>
        <section id="checker">
            <h2>Check Your Password Strength</h2>
            <form id="passwordForm">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
                <div id="strengthMessage"></div>
                <div id="strengthBar"></div>
            </form>
        </section>
    </main>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
